@font-face {
    font-family: 'Gobold-Uplow';
    src:url('fonts/webfonts_Gobold-Uplow/Gobold-Uplow.ttf.woff') format('woff'),
        url('fonts/webfonts_Gobold-Uplow/Gobold-Uplow.ttf.svg#Gobold-Uplow') format('svg'),
        url('fonts/webfonts_Gobold-Uplow/Gobold-Uplow.ttf.eot'),
        url('fonts/webfonts_Gobold-Uplow/Gobold-Uplow.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    background-size: cover;
    font-size: 10px;
    font-family: Helvetica Neue;
    font-family: 'Gobold-Uplow';

    color: #fff;
}

h1 {
    /* transform: translate(-50%, -50%); */
    /* z-index: 1; */
}

.rev-block {
    margin-left: 2rem;
    position: absolute;
}

.rev-block span {
    opacity: 0;
    animation: appear-text .0001s linear both;
    animation-delay: 1.4s;
    /* font-family: poppins; */
    font-weight: bold;
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
    padding: .4em 1em;
}

.rev-block:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #E5B31E;
    animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) both;
    animation-delay: 1s;
}

@keyframes rev-block {
    0% {
        left: 0;
        width: 0%;
    }
    50% {
        left: 0;
        width: 100%
    }
    100% {
        left: 100%;
        width: 0%;
    }
}

@keyframes appear-text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#one-more span {
    animation-delay: 2s;
}

#one-more.rev-block:after {
    background: rgb(113, 39, 39);
    animation-delay: 1.4s
}

/* mobile nav register  */

.mob-nav-register {
    height: 80px;
    // background: #fff;
    background: linear-gradient(to bottom left, rgb(255, 255, 255), rgb(225, 225, 225));
    // background: url(imgs/HNS_Lion-nav.png) no-repeat #fff;
    // background-size: 80px;
    // background-position: 110px 0;
    // mix-blend-mode: screen;
    // background: linear-gradient(to right, rgb(142, 158, 171), rgb(238, 242, 243));
    
    color: #000;
    display: flex;
    padding: 0 1em;
    align-items: center;
    justify-content: space-between
}

.mob-nav-register h1 {
    /* all: unset; */
}

.event-date {
    font-size: 12px;
    font-weight: 400;
}

.event-location {
    font-weight: 700;
    text-transform: uppercase;
}

.mob-register-btn, .mob-register-btn:active {
    all: unset;
    padding: 10px 23px 8px 23px;
    background: #E5B31E;
    background: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);
    border-radius: 30px;
    color: #000;
    text-transform: capitalize;
    font-size: .9rem;
    cursor: pointer;
    // font-weight: bold;
}

.hero-section {
    background: /* top, transparent red */
    linear-gradient( #A87C35, #A87C35), /* bottom, image */
    url(imgs/venue.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40em;
    background-blend-mode: color;
}

/* swup */

.transition-fade {
    transition: .4s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}

.event-title {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 17px;
    color: #000;
    text-transform: uppercase
}

.hero-video {
    position: relative;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: #fff;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8) 40%, #000 100%); */
    
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.8) 80%, #000 100%);
//    background-blend-mode: color-burn 
}

.hero-video .video-bg {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    object-fit: cover;
    object-position: top;
}


.ml5 {
    position: relative;
    font-weight: 300;
    font-size: 4.5em;
    color: #ffffff;
    cursor: pointer;
  }
  
  .ml5 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
  }
  
  .ml5 .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: #ffffff;
    transform-origin: 0.5 0;
  }
  

  
  .ml5 .letters {
    display: inline-block;
    opacity: 0;
  }

  .sessions-container {
      display: flex;
      justify-content: flex-start;
    padding: 1rem;
    margin-bottom: 1rem;

  }


//   spinner
.spinner {
    width: 40px;
    height: 40px;
    background: url(imgs/HNS_Lion.png);
    background-size: cover;
    opacity: .4;
  
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

  

.menu-container {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
}
  .menu-nav ul a  {
    list-style: none;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    li {
        margin-bottom: .9375rem;
        font-size: 2rem;
    }

  }

